.hero {
    height: 100vh;
}

.heroImage {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
}

.filter {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}

.caption-container {
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.hero-text {

    color: #FFF;
    text-align: center;
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);

    font-family: "Red Hat Display";
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -1.44px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about {
    width: 1120px;
}

#groups {
    width: 1120px;
}

.subTitle {
    color: #000;
    font-family: "Red Hat Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding: 0;
}


.sectionImage {
    width: 550px;
    height: 400px;
    flex-shrink: 0;
    object-fit: cover;

}

.mision,
.vision,
.objective {
    display: flex;
    align-items: center;
    margin: 40px 0px;
}

p.about-description {
    margin: 0;
}

.mision>.about-text {
    margin-right: 20px;
}

.objective>.about-text {
    margin-right: 20px;
}

.vision>.about-text {
    margin-left: 20px;
}

.bold-subtitle {
    color: #000;
    text-align: center;
    font-family: "Red Hat Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.group-logo {
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    object-fit: contain;
    margin-bottom: 20px;
}

.group-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}