.Login {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.login-form {
    width: 400px;
}

.title {
    width: 100%;
    text-align: left;
    font-family: "Red Hat Display";
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 27px 0px;
}

.forgot {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: #FF7A00;
    font-family: "Red Hat Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.25px;
    margin: 21px 0px;
}

.register {
    width: 100%;
    text-align: left;
    font-family: "Red Hat Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.25px;
}

.register>a {
    color: #FF7A00;
}


button.send {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    align-items: center;

    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    background: #FD8204;
    color: #F4F2EF;
    font-family: "Red Hat Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.25px;
}

button.google {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    align-items: center;

    color: #3C4043;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.25px;
    background-color: #fff;
}

button>img {
    height: 20px;
    width: 20px;
    margin: 10px 10px 10px 5px;
}

button>p {
    width: 100%;
}



hr {
    width: 100%;
    height: 0px;
    opacity: 0.15;
    border: 1px solid;
    margin: 25px 0px;
}

.banner {
    flex-basis: 50%;
}

.saman-image {
    object-fit: cover;
    width: 50vw;
    height: 100vh;
    display: block;
}

@media screen and (max-width: 1000px) {
    .container {
        flex-basis: 100%;
    }

    div.banner {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .container {
        flex-basis: 100%;
    }

    .login-form {
        width: 100% !important;
    }

    .forgot {
        width: 100% !important;
    }

    div.banner {
        display: none;
    }
}